/* colors */
@light-grey: #fafafa;
@grey: #b7b8b9;
@dark-grey: #565555;
@white: #fff;
@blue: #72bde2;
@dark-blue: #5cb4df;
@light-black: #2d302d;
@light-green: #d2f400;
@turquoise: #a3e1d4;

.grey {
    color: @grey;
}

/* fonts */
@heebo: 'Heebo', sans-serif;

body {
    font-family: @heebo;
    background: @light-grey;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
}

.header {
    margin-bottom: 32px;
    padding: 16px 0;
    background: @white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);

    &__row {
        display: flex;
        align-items: center;
    }

    & .logo__img {
        max-width: 100px;
    }

    & .logo__img-mob {
        display: none;
    }

    &__dropdown {
        position: relative;
        width: 100%;
        padding: 16px;
        background: @light-grey;
        color: @dark-grey;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }

    &__dropdown::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 10px;
        height: 2px;
        background-color: @dark-grey;
        transform: rotate(45deg);
        transform-origin: 100% 0%;
    }

    &__dropdown::before {
        content: '';
        display: block;
        position: absolute;
        top: 53%;
        right: 21px;
        width: 10px;
        height: 2px;
        background-color: @dark-grey;
        transform: rotate(135deg);
        transform-origin: 100% 0%;
    }

    &__dropdown.active .dropdown__list {
        opacity: 1;
        pointer-events: auto;
    }

    &__form-search {
        position: relative;
    }

    &__form-search input {
        width: 100%;
        padding: 16px;
        padding-left: 40px;
        background: @light-grey;
        color: @dark-grey;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    &__form-search input::-webkit-input-placeholder {
        color: @grey;
    }

    &__form-search input::-moz-placeholder {
        color: @grey;
    }

    &__form-search input:-moz-placeholder {
        color: @grey;
    }

    &__form-search input:-ms-input-placeholder {
        color: @grey;
    }

    &__form-search button {
        position: absolute;
        top: 30%;
        left: 13px;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
    }

    &__form-search button img {
        width: 20px;
        height: auto;
    }

    @media (max-width: 767px) {

        &__logo {
            padding-left: 0;
            padding-bottom: 20px;
        }

        & .logo__link {
            display: flex;
            justify-content: center;
        }

        & .logo__img-mob {
            display: flex;
        }

        & .logo__img {
            display: none;
        }
    }
}

.dropdown {

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0;
        background: #fff;
        border-radius: 5px;
        font-weight: normal;
        list-style-type: none;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
        z-index: 10;
    }

    &__list .dropdown__link {
        display: block;
        text-decoration: none;
        color: @grey;
        padding: 16px;
    }

    &__item:not(:first-child) .dropdown__link::after {
        content: "";
        position: absolute;
        background: lighten(@grey, 20%);
        height: 1px;
        width: 80%;
        margin: -17px;
        left: 33px;
    }

    &__item:hover .dropdown__link {
        background: darken(@light-grey, 1%);
    }
}

.token-table {
    width: 100%;
    font-size: 14px;

    &__header {
        display: flex;
        flex-direction: row;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 24px;
        font-weight: bold;
        letter-spacing: 0.3px;
        background: @light-grey;
        color: @light-black;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
        border-radius: 8px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        background: @white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
        border-radius: 8px;
    }

    @media (max-width: 1030px) {
        &__header {
            display: none;
        }

        &__item {
            flex-direction: column;
        }
    }

    @media (max-width: 424px) {
        &__item {
            border-radius: 0;
        }
    }
}

.token {

    &__name-block-name,
    &__total-supply-name,
    &__transaction-vlm-name,
    &__price-name,
    &__num-transaction-name,
    &__graphic-name {
        display: none;
    }

    &__name-block,
    &__name,
    &__total-supply,
    &__transactiob-vlm,
    &__price,
    &__num-transaction,
    &__graphic {
        padding-left: 24px;
        padding-right: 24px;
    }

    &__name-block {
        position: relative;
        width: 20%;
    }

    &__total-supply {
        width: 15%;
    }

    &__transaction-vlm {
        width: 16%;
    }

    &__price {
        width: 9%;
    }

    &__num-transaction {
        width: 17%;
    }

    &__graphic {
        width: 23%;
    }

    &__graphic img {
        width: 100%;
    }

    &__mark {
        position: absolute;
        top: -3px;
        left: 0;
        display: inline-block;
        height: 24px;
        width: 45px;
        background: @light-green;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__name {
        margin-left: 15px;
        margin-bottom: 10px;
        color: @dark-blue;
        font-weight: bold;
    }

    &__name a {
        color: @dark-blue;
        text-decoration: none;
    }

    &__desc {
        height: auto;
        padding: 0 !important;
        font-size: 11px;
        color: lighten(@dark-grey, 20%);
    }

    @media (max-width: 1030px) {

        &__name-block,
        &__total-supply,
        &__transaction-vlm,
        &__price,
        &__num-transaction,
        &__graphic {
            display: flex;
            flex-direction: row;
            width: 95%;
            margin: 15px;
        }

        &__name-block-name,
        &__total-supply-name,
        &__transaction-vlm-name,
        &__price-name,
        &__num-transaction-name,
        &__graphic-name {
            display: block;
            width: 30%;
            font-weight: bold;
        }

        &__name {
            padding-left: 0;
            margin-left: 0;
        }

        &__mark {
            display: none;
        }

        &__transaction-vlm {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: 640px) {
        &__name-block-name,
        &__total-supply-name,
        &__transaction-vlm-name,
        &__price-name,
        &__num-transaction-name,
        &__graphic-name {
            margin-right: 10px;
        }

        &__transaction-vlm-value {
            max-width: 80%;
        }

        &__desc {
            display: none;
        }

        &__name-block,
        &__total-supply,
        &__transaction-vlm,
        &__price,
        &__num-transaction,
        &__graphic {
            padding-left: 0;
            padding-right: 15px;
        }
    }
}

.mark {
    &__currency {
        display: inline-block;
        margin-left: 5px;
        font-weight: bold;
        opacity: 0.4;
    }
}

.main {
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 32px;
    }

    &__currency {
        width: 32px;
        height: 32px;
        font-weight: bold;
        line-height: 32px;
        background: @light-green;
        color: lighten(@dark-grey, 20%);
        border-radius: 5px;
        text-align: center;
    }

    &__title {
        margin-bottom: 0;
        margin-left: 16px;
        font-size: 24px;
        font-weight: bold;
        color: @dark-grey;
    }

    &__title--m0 {
        margin-bottom: 0;
        font-size: 24px;
        font-weight: bold;
        color: @dark-grey;
    }

    &__button {
        width: 128px;
        height: 40px;
        margin-left: auto;
        font-size: 18px;
        font-weight: bold;
        background: @light-green;
        color: lighten(@dark-grey, 20%);
        border-radius: 5px;
        border: none;
    }

    &__button:focus {
        outline: none;
    }

    @media (max-width: 424px) {
        .container {
            padding: 0;
        }

        &__header .main__title--m0 {
            padding-left: 15px;
        }
    }
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__token {
        width: 48%;
        padding: 24px;
        background: @white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
    }

    &__graphic {
        width: 48%;
        padding: 24px;
        background: @white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
    }

    &__list {
        position: relative;
        margin-right: 40px;
    }

    .termin {
        float: left;
        min-width: 180px;
        color: @dark-grey;
    }

    .definition {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        padding-left: 5px;
        margin-bottom: 16px;
        color: @dark-grey;
    }

    .definition__purse {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__list a {
        color: @dark-blue;
    }

    &__list a:hover {
        text-decoration: none;
    }

    &__graphic .title {
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        color: @dark-grey;
    }

    &__graphic .graphic,
    &__graphic .graphic img {
        width: 100%;
    }

    @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__token,
        &__graphic {
            width: 100%;
        }

        &__token {
            margin-bottom: 16px;
        }
    }

    @media (max-width: 424px) {

        &__token,
        &__graphic {
            border-radius: 0;
        }
    }

    @media (max-width: 374px) {
        .termin {
            float: none;
        }

        .definition {
            max-width: 100%;
        }
    }
}

.token-info {
    display: flex;
    flex-direction: row;
    padding: 24px;
    background: @white;
    color: @dark-grey;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    .info__value {
        display: flex;
        flex-direction: row;
    }

    .info__value-purse,
    .info__value p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 49%;
    }

    &__item:first-child {
        padding-right: 24px;
    }

    &__item:last-child {
        padding-left: 24px;
        border-left: 1px solid lighten(@grey, 10%);
    }

    .info__value a:first-child {
        color: @dark-blue;
        text-decoration: none;
    }

    .info__name {
        margin: auto 0;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .info__value:not(:last-child) {
        padding-bottom: 20px;
    }


    .info__list {
        position: relative;
        margin-bottom: 0;
    }

    .info__termin {
        float: left;
        min-width: 13%;
        color: @dark-grey;
    }

    .info__termin a {
        margin-right: 10px;
        color: @dark-blue;
        text-decoration: none;
    }

    @media (max-width: 628px) {
        display: flex;
        flex-direction: column;

        &__item {
            width: 100%;
        }

        &__item:last-child {
            padding-left: 0;
            border-left: none;
        }
    }

    @media (max-width: 424px) {
        border-radius: 0;
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    background: @light-grey;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    color: @dark-grey;

    &__tabs {
        display: flex;
        flex-direction: row;
    }

    &__form-search {
        position: relative;
        margin-left: 40px;
    }

    &__form-search input {
        min-width: 24%;
        padding: 8px;
        padding-left: 40px;
        background: @white;
        color: @dark-grey;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    &__form-search input::-webkit-input-placeholder {
        color: @grey;
    }

    &__form-search input::-moz-placeholder {
        color: @grey;
    }

    &__form-search input:-moz-placeholder {
        color: @grey;
    }

    &__form-search input:-ms-input-placeholder {
        color: @grey;
    }

    &__form-search button {
        position: absolute;
        top: 22%;
        left: 13px;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
    }

    &__form-search button img {
        width: 16px;
        height: auto;
    }

    @media (max-width: 796px) {

        padding-top: 25px;

        &__form-search {
            margin-top: 10px;
            width: 100%;
            // margin: 0 auto;
        }

        &__form-search input {
            width: 100%;
        }
    }

    @media (max-width: 534px) {
        &__pages {
            margin: 20px auto 10px;
        }

        &__form-search {
            margin-top: 0;
        }
    }

    @media (max-width: 424px) {
        border-radius: 0;
    }
}

.page {

    margin-left: auto;

    &__prev,
    &__next {
        padding-right: 20px;
        padding-left: 20px;
        font-weight: bold;
    }

    a {
        color: @grey;
        text-decoration: none;
    }
}

.tabs {

    &__item,
    &__item--recent {
        padding-right: 24px;
        padding-left: 24px;
    }

    &__item--recent {
        font-weight: bold;
    }

    &__link {
        font-weight: bold;
        color: @grey;
    }

    &__link:hover {
        font-weight: bold;
        color: @light-black;
        text-decoration: none;
    }

    &__link--active {
        color: @dark-grey;
        padding-bottom: 20px;
        border-bottom: 5px solid @light-green;
    }

    @media (max-width: 870px) {
        &__link--active {
            color: @dark-grey;
            padding-top: 20px;
            border-top: 5px solid @light-green;
            border-bottom: 0;
        }
    }

    @media (max-width: 534px) {
        margin: 0 auto;
    }
}

.table-transactions,
.table-holders {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 16px;
    background: @white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    color: @dark-grey;

    &__header {
        padding-bottom: 24px;
        font-size: 14px;
        font-weight: bold;
    }

    &__item {
        font-size: 16px;
    }

    &__header,
    &__item {
        display: flex;
        flex-direction: row;
    }

    @media (max-width: 424px) {
        border-radius: 0;
    }
}

@media (max-width: 499px) {
    .table-transactions__header {
        display: none;
    }

    .table-transactions__item {
        flex-direction: column;
    }

}

@media (max-width: 796px) {
    .table-holders__header {
        display: none;
    }

    .table-holders__item {
        flex-direction: column;
    }
}

.trans {

    &__timestamp-name,
    &__txid-name,
    &__sender-name,
    &__recipient-name,
    &__amount-name,
    &__fee-name {
        display: none;
    }

    div {
        padding-left: 24px;
        padding-right: 24px;
    }

    &__addresses,
    &__addresses--recent {
        display: none;
    }

    &__timestamp {
        width: 17%;
    }

    &__txid,
    &__txid--recent {
        width: 20%;
    }

    &__sender,
    &__sender--recent {
        width: 20%;
    }

    &__recipient,
    &__recipient--recent {
        width: 20%;
    }

    &__amount-fee {
        display: none;
    }

    &__amount {
        width: 14%;
    }

    &__fee {
        width: 10%;
    }

    @media (max-width: 858px) {

        &__timestamp {
            width: 20%;
        }

        &__txid,
        &__txid--recent,
        &__sender,
        &__sender--recent,
        &__recipient,
        &__recipient--recent {
            display: none;
        }

        &__addresses,
        &__addresses--recent {
            display: block;
            width: 60%;
        }

        &__addresses a {
            width: 100%;
        }

        &__amount,
        &__fee {
            display: none;
        }

        &__amount-fee {
            display: block;
            width: 20%;
        }
    }

    @media (max-width: 499px) {

        &__txid,
        &__sender,
        &__recipient,
        &__amount,
        &__fee {
            display: block;
            margin-top: 10px;
        }

        &__amount-fee {
            display: none;
        }

        &__timestamp-name,
        &__txid-name,
        &__sender-name,
        &__recipient-name,
        &__amount-name,
        &__fee-name {
            display: block;
            font-weight: bold;
            color: @dark-grey;
        }

        &__timestamp,
        &__txid,
        &__sender,
        &__recipient,
        &__amount,
        &__fee {
            width: 100%;
        }

        &__addresses {
            display: none;
        }

        &__txid--recent,
        &__sender--recent,
        &__recipient--recent {
            display: block;
            margin-top: 10px;
        }

        &__txid-name--recent,
        &__sender-name--recent,
        &__recipient-name--recent {
            display: block;
            font-weight: bold;
            color: @dark-grey;
        }

        &__txid--recent,
        &__sender--recent,
        &__recipient--recent {
            width: 100%;
        }

        &__addresses--recent {
            display: none;
        }
    }
}

@media (max-width: 499px) {

    .trans:not(:last-child) {
        border-bottom: 1px solid lighten(@grey, 10%);
        margin-bottom: 20px;
    }
}

div[class^="trans__timestamp-"],
div[class^="trans__txid-"]:not(.trans__txid--recent),
div[class^="trans__sender-"]:not(.trans__sender--recent),
div[class^="trans__recipient-"]:not(.trans__recipient--recent),
div[class^="trans__amount-"],
div[class^="trans__fee-"] {
    padding: 0;
}

.table-transactions__item {

    .trans__txid-value,
    .trans__sender-value,
    .trans__recipient-value,
    .trans__addresses {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @dark-blue;
    }

    .trans__txid-value--recent p,
    .trans__sender-value--recent p,
    .trans__recipient-value--recent p,
    .trans__addresses--recent p {
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .trans__txid a,
    .trans__sender a,
    .trans__recipient a,
    .trans__addresses a {
        color: @dark-blue;
        text-decoration: none;
    }

    &:not(:last-child) {
        padding-bottom: 24px;
    }
}

.holders {

    &__num-name,
    &__address-name,
    &__last-activity-name,
    &__balance-name,
    &__info-name {
        display: none;
    }

    div {
        padding-left: 24px;
        padding-right: 24px;
    }

    &__num {
        width: 13%;
    }

    &__address {
        width: 25%;
    }

    &__last-activity {
        width: 13%;
    }

    &__balance {
        width: 13%;
    }

    &__info {
        width: 36%;
    }

    @media (max-width: 796px) {

        &__num,
        &__address,
        &__last-activity,
        &__balance,
        &__info {
            display: block;
            width: 100%;
            margin-top: 10px;
        }

        &__num-name,
        &__address-name,
        &__last-activity-name,
        &__balance-name,
        &__info-name {
            display: block;
            font-weight: bold;
            color: @dark-grey;
        }
    }
}

@media (max-width: 796px) {

    .holders:not(:last-child) {
        border-bottom: 1px solid lighten(@grey, 10%);
        margin-bottom: 20px;
    }
}

div[class^="holders__num-"],
div[class^="holders__address-"],
div[class^="holders__last-activity-"],
div[class^="holders__balance-"],
div[class^="holders__info-"] {
    padding: 0;
}

.table-holders__item {
    .holders__address-value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @dark-blue;
    }

    &:not(:last-child) {
        padding-bottom: 24px;
    }

    .holders__address a {
        color: @dark-blue;
        text-decoration: none;
    }
}

.details {
    margin: auto 0;
    padding-top: 40px;
    padding-bottom: 16px;
    background: @white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    color: @dark-grey;


    &__item {
        display: flex;
        flex-direction: row;
    }

    &__termin {
        width: 15%;
        margin-right: 10px;
        font-weight: bold;
    }

    &__termin,
    &__definition {
        padding-bottom: 24px;
        padding-left: 40px;
    }

    &__definition {
        display: flex;
        flex-direction: row;
        padding-right: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__definition p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__item:first-child,
    &__item:first-child .details__definition:nth-child(2) {
        align-items: center;
    }

    &__definition a {
        color: @dark-blue;
        text-decoration: none;
    }

    &__definition-purse {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__definition-copy {
        padding-left: 5px;
    }

    .warning {
        padding-right: 40px;
        color: red;
    }

    .good {
        padding-left: 10px;
    }

    &__definition-label {
        padding: 10px;
        margin-left: 15px;
        background: @turquoise;
        font-size: 12px;
        color: darken(@turquoise, 40%);
        border-radius: 8px;
    }

    @media (max-width: 626px) {
        &__item {
            display: flex;
            flex-direction: column;
        }

        &__item:first-child {
            align-items: flex-start;
        }

        &__item .details__termin {
            padding-bottom: 8px;
        }

        &__item:nth-child(7) .details__definition {
            padding-bottom: 0;
        }

        .warning {
            padding-left: 40px;
            padding-bottom: 24px;
        }
    }

    @media (max-width: 424px) {
        border-radius: 0;
    }
}

.footer {
    padding-top: 88px;

    .tborder {
        padding-bottom: 32px;
        border-top: 1px solid lighten(@grey, 15%);
    }

    @media (max-width: 767px) {

        .contacts {

            .contacts__list {
                padding-left: 0;
            }

            .list__link img {
                position: inherit;
            }
        }

        .symbol {
            display: none;
        }
    }

}

.copyright {
    display: flex;
    flex-direction: column;

    & .logo__img {
        max-width: 164px;
        padding-bottom: 32px;
    }

    &__text {
        font-size: 12px;
        color: @dark-grey;
    }
}

.quick-links,
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 14px;
    letter-spacing: 0.5px;


    &__subtitle {
        font-size: 16px;
        font-weight: bold;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        list-style: none;
    }

    .list__item img {
        position: absolute;
        left: 15px;
        max-width: 18px;
    }

    .list__link {
        color: @dark-grey;

    }

    &__link {
        padding-bottom: 16px;
        color: @blue;
    }

    .list__link:hover,
    &__link:hover {
        text-decoration: none;
    }
}

.quick-links {
    color: @dark-grey;

    .list {
        padding: 0;
    }
}

.contacts {
    color: @dark-grey;

    .list {
        padding-left: 25px;
    }
}

.symbol {
    height: 100%;
    display: flex;
    align-items: flex-end;

    img {
        width: 100%;
    }
}