/* colors */
.grey {
  color: #b7b8b9;
}
/* fonts */
body {
  font-family: 'Heebo', sans-serif;
  background: #fafafa;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
}
.header {
  margin-bottom: 32px;
  padding: 16px 0;
  background: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.header__row {
  display: flex;
  align-items: center;
}
.header .logo__img {
  max-width: 100px;
}
.header .logo__img-mob {
  display: none;
}
.header__dropdown {
  position: relative;
  width: 100%;
  padding: 16px;
  background: #fafafa;
  color: #565555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.header__dropdown::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 2px;
  background-color: #565555;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}
.header__dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: 53%;
  right: 21px;
  width: 10px;
  height: 2px;
  background-color: #565555;
  transform: rotate(135deg);
  transform-origin: 100% 0%;
}
.header__dropdown.active .dropdown__list {
  opacity: 1;
  pointer-events: auto;
}
.header__form-search {
  position: relative;
}
.header__form-search input {
  width: 100%;
  padding: 16px;
  padding-left: 40px;
  background: #fafafa;
  color: #565555;
  border: none;
  outline: none;
  border-radius: 5px;
}
.header__form-search input::-webkit-input-placeholder {
  color: #b7b8b9;
}
.header__form-search input::-moz-placeholder {
  color: #b7b8b9;
}
.header__form-search input:-moz-placeholder {
  color: #b7b8b9;
}
.header__form-search input:-ms-input-placeholder {
  color: #b7b8b9;
}
.header__form-search button {
  position: absolute;
  top: 30%;
  left: 13px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.header__form-search button img {
  width: 20px;
  height: auto;
}
@media (max-width: 767px) {
  .header__logo {
    padding-left: 0;
    padding-bottom: 20px;
  }
  .header .logo__link {
    display: flex;
    justify-content: center;
  }
  .header .logo__img-mob {
    display: flex;
  }
  .header .logo__img {
    display: none;
  }
}
.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  font-weight: normal;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.dropdown__list .dropdown__link {
  display: block;
  text-decoration: none;
  color: #b7b8b9;
  padding: 16px;
}
.dropdown__item:not(:first-child) .dropdown__link::after {
  content: "";
  position: absolute;
  background: #ebebeb;
  height: 1px;
  width: 80%;
  margin: -17px;
  left: 33px;
}
.dropdown__item:hover .dropdown__link {
  background: #f7f7f7;
}
.token-table {
  width: 100%;
  font-size: 14px;
}
.token-table__header {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  letter-spacing: 0.3px;
  background: #fafafa;
  color: #2d302d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}
.token-table__item {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}
@media (max-width: 1030px) {
  .token-table__header {
    display: none;
  }
  .token-table__item {
    flex-direction: column;
  }
}
@media (max-width: 424px) {
  .token-table__item {
    border-radius: 0;
  }
}
.token__name-block-name,
.token__total-supply-name,
.token__transaction-vlm-name,
.token__price-name,
.token__num-transaction-name,
.token__graphic-name {
  display: none;
}
.token__name-block,
.token__name,
.token__total-supply,
.token__transactiob-vlm,
.token__price,
.token__num-transaction,
.token__graphic {
  padding-left: 24px;
  padding-right: 24px;
}
.token__name-block {
  position: relative;
  width: 20%;
}
.token__total-supply {
  width: 15%;
}
.token__transaction-vlm {
  width: 16%;
}
.token__price {
  width: 9%;
}
.token__num-transaction {
  width: 17%;
}
.token__graphic {
  width: 23%;
}
.token__graphic img {
  width: 100%;
}
.token__mark {
  position: absolute;
  top: -3px;
  left: 0;
  display: inline-block;
  height: 24px;
  width: 45px;
  background: #d2f400;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.token__name {
  margin-left: 15px;
  margin-bottom: 10px;
  color: #5cb4df;
  font-weight: bold;
}
.token__name a {
  color: #5cb4df;
  text-decoration: none;
}
.token__desc {
  height: auto;
  padding: 0 !important;
  font-size: 11px;
  color: #898888;
}
@media (max-width: 1030px) {
  .token__name-block,
  .token__total-supply,
  .token__transaction-vlm,
  .token__price,
  .token__num-transaction,
  .token__graphic {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 15px;
  }
  .token__name-block-name,
  .token__total-supply-name,
  .token__transaction-vlm-name,
  .token__price-name,
  .token__num-transaction-name,
  .token__graphic-name {
    display: block;
    width: 30%;
    font-weight: bold;
  }
  .token__name {
    padding-left: 0;
    margin-left: 0;
  }
  .token__mark {
    display: none;
  }
  .token__transaction-vlm {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 640px) {
  .token__name-block-name,
  .token__total-supply-name,
  .token__transaction-vlm-name,
  .token__price-name,
  .token__num-transaction-name,
  .token__graphic-name {
    margin-right: 10px;
  }
  .token__transaction-vlm-value {
    max-width: 80%;
  }
  .token__desc {
    display: none;
  }
  .token__name-block,
  .token__total-supply,
  .token__transaction-vlm,
  .token__price,
  .token__num-transaction,
  .token__graphic {
    padding-left: 0;
    padding-right: 15px;
  }
}
.mark__currency {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  opacity: 0.4;
}
.main__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}
.main__currency {
  width: 32px;
  height: 32px;
  font-weight: bold;
  line-height: 32px;
  background: #d2f400;
  color: #898888;
  border-radius: 5px;
  text-align: center;
}
.main__title {
  margin-bottom: 0;
  margin-left: 16px;
  font-size: 24px;
  font-weight: bold;
  color: #565555;
}
.main__title--m0 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  color: #565555;
}
.main__button {
  width: 128px;
  height: 40px;
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  background: #d2f400;
  color: #898888;
  border-radius: 5px;
  border: none;
}
.main__button:focus {
  outline: none;
}
@media (max-width: 424px) {
  .main .container {
    padding: 0;
  }
  .main__header .main__title--m0 {
    padding-left: 15px;
  }
}
.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.overview__token {
  width: 48%;
  padding: 24px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.overview__graphic {
  width: 48%;
  padding: 24px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.overview__list {
  position: relative;
  margin-right: 40px;
}
.overview .termin {
  float: left;
  min-width: 180px;
  color: #565555;
}
.overview .definition {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding-left: 5px;
  margin-bottom: 16px;
  color: #565555;
}
.overview .definition__purse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overview__list a {
  color: #5cb4df;
}
.overview__list a:hover {
  text-decoration: none;
}
.overview__graphic .title {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #565555;
}
.overview__graphic .graphic,
.overview__graphic .graphic img {
  width: 100%;
}
@media (max-width: 991px) {
  .overview {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .overview__token,
  .overview__graphic {
    width: 100%;
  }
  .overview__token {
    margin-bottom: 16px;
  }
}
@media (max-width: 424px) {
  .overview__token,
  .overview__graphic {
    border-radius: 0;
  }
}
@media (max-width: 374px) {
  .overview .termin {
    float: none;
  }
  .overview .definition {
    max-width: 100%;
  }
}
.token-info {
  display: flex;
  flex-direction: row;
  padding: 24px;
  background: #fff;
  color: #565555;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.token-info .info__value {
  display: flex;
  flex-direction: row;
}
.token-info .info__value-purse,
.token-info .info__value p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.token-info__item {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.token-info__item:first-child {
  padding-right: 24px;
}
.token-info__item:last-child {
  padding-left: 24px;
  border-left: 1px solid #d1d2d2;
}
.token-info .info__value a:first-child {
  color: #5cb4df;
  text-decoration: none;
}
.token-info .info__name {
  margin: auto 0;
  padding-bottom: 10px;
  font-weight: bold;
}
.token-info .info__value:not(:last-child) {
  padding-bottom: 20px;
}
.token-info .info__list {
  position: relative;
  margin-bottom: 0;
}
.token-info .info__termin {
  float: left;
  min-width: 13%;
  color: #565555;
}
.token-info .info__termin a {
  margin-right: 10px;
  color: #5cb4df;
  text-decoration: none;
}
@media (max-width: 628px) {
  .token-info {
    display: flex;
    flex-direction: column;
  }
  .token-info__item {
    width: 100%;
  }
  .token-info__item:last-child {
    padding-left: 0;
    border-left: none;
  }
}
@media (max-width: 424px) {
  .token-info {
    border-radius: 0;
  }
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  background: #fafafa;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #565555;
}
.nav-bar__tabs {
  display: flex;
  flex-direction: row;
}
.nav-bar__form-search {
  position: relative;
  margin-left: 40px;
}
.nav-bar__form-search input {
  min-width: 24%;
  padding: 8px;
  padding-left: 40px;
  background: #fff;
  color: #565555;
  border: none;
  outline: none;
  border-radius: 5px;
}
.nav-bar__form-search input::-webkit-input-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search input::-moz-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search input:-moz-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search input:-ms-input-placeholder {
  color: #b7b8b9;
}
.nav-bar__form-search button {
  position: absolute;
  top: 22%;
  left: 13px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.nav-bar__form-search button img {
  width: 16px;
  height: auto;
}
@media (max-width: 796px) {
  .nav-bar {
    padding-top: 25px;
  }
  .nav-bar__form-search {
    margin-top: 10px;
    width: 100%;
  }
  .nav-bar__form-search input {
    width: 100%;
  }
}
@media (max-width: 534px) {
  .nav-bar__pages {
    margin: 20px auto 10px;
  }
  .nav-bar__form-search {
    margin-top: 0;
  }
}
@media (max-width: 424px) {
  .nav-bar {
    border-radius: 0;
  }
}
.page {
  margin-left: auto;
}
.page__prev,
.page__next {
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}
.page a {
  color: #b7b8b9;
  text-decoration: none;
}
.tabs__item,
.tabs__item--recent {
  padding-right: 24px;
  padding-left: 24px;
}
.tabs__item--recent {
  font-weight: bold;
}
.tabs__link {
  font-weight: bold;
  color: #b7b8b9;
}
.tabs__link:hover {
  font-weight: bold;
  color: #2d302d;
  text-decoration: none;
}
.tabs__link--active {
  color: #565555;
  padding-bottom: 20px;
  border-bottom: 5px solid #d2f400;
}
@media (max-width: 870px) {
  .tabs__link--active {
    color: #565555;
    padding-top: 20px;
    border-top: 5px solid #d2f400;
    border-bottom: 0;
  }
}
@media (max-width: 534px) {
  .tabs {
    margin: 0 auto;
  }
}
.table-transactions,
.table-holders {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #565555;
}
.table-transactions__header,
.table-holders__header {
  padding-bottom: 24px;
  font-size: 14px;
  font-weight: bold;
}
.table-transactions__item,
.table-holders__item {
  font-size: 16px;
}
.table-transactions__header,
.table-holders__header,
.table-transactions__item,
.table-holders__item {
  display: flex;
  flex-direction: row;
}
@media (max-width: 424px) {
  .table-transactions,
  .table-holders {
    border-radius: 0;
  }
}
@media (max-width: 499px) {
  .table-transactions__header {
    display: none;
  }
  .table-transactions__item {
    flex-direction: column;
  }
}
@media (max-width: 796px) {
  .table-holders__header {
    display: none;
  }
  .table-holders__item {
    flex-direction: column;
  }
}
.trans__timestamp-name,
.trans__txid-name,
.trans__sender-name,
.trans__recipient-name,
.trans__amount-name,
.trans__fee-name {
  display: none;
}
.trans div {
  padding-left: 24px;
  padding-right: 24px;
}
.trans__addresses,
.trans__addresses--recent {
  display: none;
}
.trans__timestamp {
  width: 17%;
}
.trans__txid,
.trans__txid--recent {
  width: 20%;
}
.trans__sender,
.trans__sender--recent {
  width: 20%;
}
.trans__recipient,
.trans__recipient--recent {
  width: 20%;
}
.trans__amount-fee {
  display: none;
}
.trans__amount {
  width: 14%;
}
.trans__fee {
  width: 10%;
}
@media (max-width: 858px) {
  .trans__timestamp {
    width: 20%;
  }
  .trans__txid,
  .trans__txid--recent,
  .trans__sender,
  .trans__sender--recent,
  .trans__recipient,
  .trans__recipient--recent {
    display: none;
  }
  .trans__addresses,
  .trans__addresses--recent {
    display: block;
    width: 60%;
  }
  .trans__addresses a {
    width: 100%;
  }
  .trans__amount,
  .trans__fee {
    display: none;
  }
  .trans__amount-fee {
    display: block;
    width: 20%;
  }
}
@media (max-width: 499px) {
  .trans__txid,
  .trans__sender,
  .trans__recipient,
  .trans__amount,
  .trans__fee {
    display: block;
    margin-top: 10px;
  }
  .trans__amount-fee {
    display: none;
  }
  .trans__timestamp-name,
  .trans__txid-name,
  .trans__sender-name,
  .trans__recipient-name,
  .trans__amount-name,
  .trans__fee-name {
    display: block;
    font-weight: bold;
    color: #565555;
  }
  .trans__timestamp,
  .trans__txid,
  .trans__sender,
  .trans__recipient,
  .trans__amount,
  .trans__fee {
    width: 100%;
  }
  .trans__addresses {
    display: none;
  }
  .trans__txid--recent,
  .trans__sender--recent,
  .trans__recipient--recent {
    display: block;
    margin-top: 10px;
  }
  .trans__txid-name--recent,
  .trans__sender-name--recent,
  .trans__recipient-name--recent {
    display: block;
    font-weight: bold;
    color: #565555;
  }
  .trans__txid--recent,
  .trans__sender--recent,
  .trans__recipient--recent {
    width: 100%;
  }
  .trans__addresses--recent {
    display: none;
  }
}
@media (max-width: 499px) {
  .trans:not(:last-child) {
    border-bottom: 1px solid #d1d2d2;
    margin-bottom: 20px;
  }
}
div[class^="trans__timestamp-"],
div[class^="trans__txid-"]:not(.trans__txid--recent),
div[class^="trans__sender-"]:not(.trans__sender--recent),
div[class^="trans__recipient-"]:not(.trans__recipient--recent),
div[class^="trans__amount-"],
div[class^="trans__fee-"] {
  padding: 0;
}
.table-transactions__item .trans__txid-value,
.table-transactions__item .trans__sender-value,
.table-transactions__item .trans__recipient-value,
.table-transactions__item .trans__addresses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5cb4df;
}
.table-transactions__item .trans__txid-value--recent p,
.table-transactions__item .trans__sender-value--recent p,
.table-transactions__item .trans__recipient-value--recent p,
.table-transactions__item .trans__addresses--recent p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-transactions__item .trans__txid a,
.table-transactions__item .trans__sender a,
.table-transactions__item .trans__recipient a,
.table-transactions__item .trans__addresses a {
  color: #5cb4df;
  text-decoration: none;
}
.table-transactions__item:not(:last-child) {
  padding-bottom: 24px;
}
.holders__num-name,
.holders__address-name,
.holders__last-activity-name,
.holders__balance-name,
.holders__info-name {
  display: none;
}
.holders div {
  padding-left: 24px;
  padding-right: 24px;
}
.holders__num {
  width: 13%;
}
.holders__address {
  width: 25%;
}
.holders__last-activity {
  width: 13%;
}
.holders__balance {
  width: 13%;
}
.holders__info {
  width: 36%;
}
@media (max-width: 796px) {
  .holders__num,
  .holders__address,
  .holders__last-activity,
  .holders__balance,
  .holders__info {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .holders__num-name,
  .holders__address-name,
  .holders__last-activity-name,
  .holders__balance-name,
  .holders__info-name {
    display: block;
    font-weight: bold;
    color: #565555;
  }
}
@media (max-width: 796px) {
  .holders:not(:last-child) {
    border-bottom: 1px solid #d1d2d2;
    margin-bottom: 20px;
  }
}
div[class^="holders__num-"],
div[class^="holders__address-"],
div[class^="holders__last-activity-"],
div[class^="holders__balance-"],
div[class^="holders__info-"] {
  padding: 0;
}
.table-holders__item .holders__address-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5cb4df;
}
.table-holders__item:not(:last-child) {
  padding-bottom: 24px;
}
.table-holders__item .holders__address a {
  color: #5cb4df;
  text-decoration: none;
}
.details {
  margin: auto 0;
  padding-top: 40px;
  padding-bottom: 16px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #565555;
}
.details__item {
  display: flex;
  flex-direction: row;
}
.details__termin {
  width: 15%;
  margin-right: 10px;
  font-weight: bold;
}
.details__termin,
.details__definition {
  padding-bottom: 24px;
  padding-left: 40px;
}
.details__definition {
  display: flex;
  flex-direction: row;
  padding-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__definition p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__item:first-child,
.details__item:first-child .details__definition:nth-child(2) {
  align-items: center;
}
.details__definition a {
  color: #5cb4df;
  text-decoration: none;
}
.details__definition-purse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__definition-copy {
  padding-left: 5px;
}
.details .warning {
  padding-right: 40px;
  color: red;
}
.details .good {
  padding-left: 10px;
}
.details__definition-label {
  padding: 10px;
  margin-left: 15px;
  background: #a3e1d4;
  font-size: 12px;
  color: #2d8b77;
  border-radius: 8px;
}
@media (max-width: 626px) {
  .details__item {
    display: flex;
    flex-direction: column;
  }
  .details__item:first-child {
    align-items: flex-start;
  }
  .details__item .details__termin {
    padding-bottom: 8px;
  }
  .details__item:nth-child(7) .details__definition {
    padding-bottom: 0;
  }
  .details .warning {
    padding-left: 40px;
    padding-bottom: 24px;
  }
}
@media (max-width: 424px) {
  .details {
    border-radius: 0;
  }
}
.footer {
  padding-top: 88px;
}
.footer .tborder {
  padding-bottom: 32px;
  border-top: 1px solid #dededf;
}
@media (max-width: 767px) {
  .footer .contacts .contacts__list {
    padding-left: 0;
  }
  .footer .contacts .list__link img {
    position: inherit;
  }
  .footer .symbol {
    display: none;
  }
}
.copyright {
  display: flex;
  flex-direction: column;
}
.copyright .logo__img {
  max-width: 164px;
  padding-bottom: 32px;
}
.copyright__text {
  font-size: 12px;
  color: #565555;
}
.quick-links,
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.quick-links__subtitle,
.contacts__subtitle {
  font-size: 16px;
  font-weight: bold;
}
.quick-links__list,
.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  list-style: none;
}
.quick-links .list__item img,
.contacts .list__item img {
  position: absolute;
  left: 15px;
  max-width: 18px;
}
.quick-links .list__link,
.contacts .list__link {
  color: #565555;
}
.quick-links__link,
.contacts__link {
  padding-bottom: 16px;
  color: #72bde2;
}
.quick-links .list__link:hover,
.contacts .list__link:hover,
.quick-links__link:hover,
.contacts__link:hover {
  text-decoration: none;
}
.quick-links {
  color: #565555;
}
.quick-links .list {
  padding: 0;
}
.contacts {
  color: #565555;
}
.contacts .list {
  padding-left: 25px;
}
.symbol {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.symbol img {
  width: 100%;
}
